:root {
  --primary-font-family: "Roboto", sans-serif;
  --primary-text-color-theme-dark: #2196f3;
  --primary-text-color-theme-light: #212121;
  --secondary-text-color-theme-dark: #ffffff;
  --secondary-text-color-theme-light: #757575;
  --container-items: 1;
}

body {
  font-family: "Roboto", sans-serif, "Raleway", sans-serif;
  color: #212121;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: 320px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.img-no-gap {
  display: block;
}

.container {
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 calc(30px / 2);
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .mobile-menu-button {
    display: none;
  }
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
  background-color: var(--secondary-text-color-theme-dark);
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0;
    height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .navigation {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.nav-list {
  display: none;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    align-items: center;
  }
}

.nav-list__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-text-color-theme-light);
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--primary-text-color-theme-dark);
}

.nav-list__link_current {
  position: relative;
  color: var(--primary-text-color-theme-dark);
}

.nav-list__link_current::after {
  content: "";
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
  bottom: -30px;
  border-radius: 2px;
  background-color: var(--primary-text-color-theme-dark);
}

@media screen and (min-width: 1200px) {
  .nav-list__link::after {
    bottom: -32px;
  }
}

.header__contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__contacts {
    display: flex;
    flex-direction: column;
  }
  .header__contacts_email_icon {
    width: 14px;
    height: 10px;
    margin-right: 10px;
    fill: var(--secondary-text-color-theme-light);
  }
  .header__contacts_phone_icon {
    width: 10px;
    height: 14px;
    margin-right: 10px;
    fill: var(--secondary-text-color-theme-light);
  }
  .header__contacts_item {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);
  }
  .header__contacts_item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts {
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .header__contacts_item {
    font-size: 14px;
    line-height: 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__contacts_item:hover, .header__contacts_item:focus,
  .header__contacts_item:hover .header__contacts_icon,
  .header__contacts_item:focus .header__contacts_icon {
    color: var(--primary-text-color-theme-dark);
    fill: var(--primary-text-color-theme-dark);
  }
  .header__contacts_item:not(:last-child) {
    margin-right: 30px;
  }
  .header__contacts_item:first-child {
    margin-bottom: 0;
  }
  .header__contacts_email_icon {
    width: 16px;
    height: 12px;
  }
  .header__contacts_phone_icon {
    width: 10px;
    height: 16px;
  }
}

.mobile-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.mobile-menu-button .mobile-menu-button__icon {
  fill: var(--primary-text-color-theme-light);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-button .mobile-menu-button__icon:hover, .mobile-menu-button .mobile-menu-button__icon:focus {
  fill: var(--primary-text-color-theme-dark);
}

@media screen and (min-width: 768px) {
  .mobile-menu-button {
    display: none;
  }
}

.mobile-menu__close_button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.mobile-menu__close_icon {
  fill: var(--primary-text-color-theme-light);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__close_icon:hover, .mobile-menu__close_icon:focus {
  fill: var(--primary-text-color-theme-dark);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  min-width: 320px;
  height: 100vh;
  min-height: 100%;
  padding: 48px 40px;
  overflow: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--secondary-text-color-theme-dark);
}

.mobile-menu_is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu__top {
  margin-right: auto;
}

.mobile-menu__nav_item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__nav_link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__nav_link.current {
  color: var(--primary-text-color-theme-dark);
}

.mobile-menu__middle {
  margin-top: auto;
  margin-right: auto;
}

.mobile-menu__phone {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  color: var(--primary-text-color-theme-dark);
}

.mobile-menu__email {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
  color: var(--secondary-text-color-theme-light);
}

.mobile-menu__bottom {
  display: flex;
}

.mobile-menu__social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.mobile-menu__social-item:not(:first-child) {
  padding-left: 10px;
}

.mobile-menu__social_link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 31px;
  }
}

.logo__part {
  color: var(--primary-text-color-theme-dark);
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 31px;
  }
}

.logo__part {
  color: var(--primary-text-color-theme-dark);
}

.footer__logo {
  color: var(--secondary-text-color-theme-dark);
}

.footer {
  background-color: #2f303a;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__location {
  margin-top: 20px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-dark);
}

@media screen and (min-width: 1200px) {
  .footer__location {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}

.footer__box {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .footer__box {
    display: block;
    position: relative;
  }
}

@media screen and (min-width: 1200px) {
  .footer__box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

.footer__left {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__left {
    width: 232px;
    margin-left: 76px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__left {
    margin-left: 0px;
    width: 231px;
    text-align: left;
  }
}

.footer__contact_item {
  display: block;
  margin-top: 8px;
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .footer__contact_item {
    margin-top: 9px;
  }
}

.footer__center {
  width: 206px;
  margin-top: 5px;
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .footer__center {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right: 89px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__center {
    position: relative;
    margin-left: 70px;
    margin-top: 12px;
    margin-right: 93px;
    margin-bottom: 0px;
  }
}

.join__list {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  position: relative;
}

.join__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__link:hover > .join__icon,
.join__link:focus > .join__icon {
  fill: var(--secondary-text-color-theme-dark);
}

.join__link:hover, .join__link:focus {
  background-color: var(--primary-text-color-theme-dark);
  background-image: none;
}

.join__icon {
  fill: var(--secondary-text-color-theme-dark);
}

.join {
  display: flex;
}

.join__box {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.join__title {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16 px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer__form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer__form {
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__form {
    display: flex;
    align-items: flex-start;
  }
}

.footer__label {
  margin-bottom: 20px;
}

.footer__input {
  display: block;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  width: 450px;
  height: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 480px) {
  .footer__input {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
  }
}

.footer__right {
  display: flex;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer__right {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__right {
    width: auto;
    margin-top: 0px;
    padding-top: 12px;
  }
}

.footer__button_wrapper {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .footer__button_wrapper {
    margin-top: 36px;
    margin-left: 12px;
  }
}

.footer__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: var(--primary-text-color-theme-dark);
  color: var(--secondary-text-color-theme-dark);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}

.footer__button:hover, .footer__button:focus {
  background-color: #188ce8;
  color: var(--secondary-text-color-theme-dark);
}

.footer__button_icon {
  fill: var(--secondary-text-color-theme-dark);
  margin-left: 10px;
}

.portfolio {
  display: none;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

@media screen and (max-width: 767px) {
  .projects-list {
    margin-left: auto;
    margin-right: auto;
  }
}

.projects-list__card {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-basis: calc(480px / 1 - 30px);
}

@media screen and (max-width: 767px) {
  .projects-list__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .projects-list__card {
    flex-basis: calc(768px / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-list__card {
    flex-basis: calc(1200px / 3 - 30px);
  }
}

.projects-list__card:hover, .projects-list__card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__wrapper {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  padding: 20px 24px;
}

@media screen and (min-width: 768px) {
  .size {
    height: 148px;
  }
}

@media screen and (min-width: 1200px) {
  .size {
    height: 112px;
  }
}

.project__name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 4px;
}

.project__description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}

.projects__wrapper {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  position: absolute;
  overflow: auto;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-dark);
  background-color: var(--primary-text-color-theme-dark);
  padding: 63px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.projects-list__card:hover .projects__overlay {
  transform: translateY(0%);
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .button-list {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .button-list {
    margin-bottom: 50px;
  }
}

.button-list__item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .button-list__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.button-list__card {
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
}

@media screen and (max-width: 767px) {
  .button-list__card:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 15px;
  }
}

.button-list__button {
  padding: 6px 22px 6px 22px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: inherit;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list__button:hover, .button-list__button:focus {
  background-color: var(--primary-text-color-theme-dark);
  color: var(--secondary-text-color-theme-dark);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-list__button_current {
  color: var(--secondary-text-color-theme-dark);
  background: var(--primary-text-color-theme-dark);
}
/*# sourceMappingURL=portfolio.css.map */