.employees__section {
  background-color: #f5f4fa;
}

.employees {
  display: flex;
  flex-wrap: nowrap;
  margin-left: -30px;
  margin-top: -30px;
}

.employees__card {
  flex-basis: calc((100%-120px) / 4);
  margin-top: 30px;
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employees__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.employees__box {
  padding-top: 30px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--secondary-text-color-theme-dark);
}

.employees__position {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color-theme-light);
}