@import './logo';
.footer__logo {
  color: var(--secondary-text-color-theme-dark);
}
.footer {
  background-color: #2f303a;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__location {
  margin-top: 20px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  
  color: var(--secondary-text-color-theme-dark);
  
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}
.footer__box {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    display: block;
    position: relative;
  }
  
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}
.footer__left {
  text-align: center;
  
  @media screen and (min-width: 768px) {
    width: 232px;
    margin-left: 76px;
  }
  
  @media screen and (min-width: 1200px) {
    margin-left: 0px;
    width: 231px;
    text-align: left;
  }
}
.footer__contact_item {
  display: block;
  margin-top: 8px;
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  @media screen and (min-width: 1200px) {
    margin-top: 9px;
  }
}
.footer__center {
  width: 206px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
  
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right: 89px;
  }
  
  @media screen and (min-width: 1200px) {
    position: relative;
    margin-left: 70px;
    margin-top: 12px;
    margin-right: 93px;
    margin-bottom: 0px;
  }
}
.join__list {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  position: relative;
}
.join__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover>.join__icon,
  &:focus>.join__icon {
    fill: var(--secondary-text-color-theme-dark);
  }
  &:hover,
  &:focus {
    background-color: var(--primary-text-color-theme-dark);
    background-image: none;
  }
}
.join__icon {
  fill: var(--secondary-text-color-theme-dark);
}
.join {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
  }
}
.join__box {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.join__title {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16 px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
   
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-start;
  }
}
.footer__label {
  margin-bottom: 20px;
}
.footer__input{
  display: block;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  width: 450px;
  height: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  
  @media screen and (min-width: 480px) {
    margin-left: auto;
    margin-right: auto;
  }
  
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}
.footer__right {
  display: block;
  margin-top: 60px;
  width: 100%;
  
  @media screen and (min-width: 1200px) {
    display: flex;
    width: auto;
    margin-top: 0px;
    padding-top: 12px;
  }
}
.footer__button_wrapper {
  display: block;
  margin-top: 20px;
  
  
  @media screen and (min-width: 1200px) {
    margin-top: 36px;
    margin-left: 12px;
  }
}
.footer__button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: var(--primary-text-color-theme-dark);
  color: var(--secondary-text-color-theme-dark);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;

  &:hover,
  &:focus {
    background-color: #188ce8;
    color: var(--secondary-text-color-theme-dark);
  }
}
.footer__button_icon {
  fill: var(--secondary-text-color-theme-dark);
  margin-left: 10px;
}