.logo {
  font-family: "Raleway", sans-serif;
  margin-right: 93px;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  color: #000000;
}
.logo__part {
  color: var(--primary-text-color-theme-dark);
}