:root {
  --primary-font-family: "Roboto", sans-serif;
  --primary-text-color-theme-dark: #2196f3;
  --primary-text-color-theme-light: #212121;
  --secondary-text-color-theme-dark: #ffffff;
  --secondary-text-color-theme-light: #757575;
}